/* * {
    box-shadow: inset 0 0 1px rgba(255,0,0,0.5);
} */

.navegacao {
    background-color: rgb(154,171,194);
    color: black;
}

.rodape {
    background-color: rgb(60,74,82);
    color: white;
}

.nav-item {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.nav-item:hover {
    text-decoration: underline;
    color: white;
}

.espaco_fundo {
    margin-bottom: 80px;
    margin-top: 56px;
}

.espaco_fundo_forms {
    margin-bottom: 80px;
    margin-top: 80px;
}
.espaco_fundo_carrinho {
    margin-bottom: 5px;
    margin-top: 60px;
}
